# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Arquivo: .gitignore (na raiz do projeto)

# --- Python / Django ---
# Ignora as pastas de cache de bytecode
__pycache__/
*.pyc

# Ignora o ambiente virtual (MUITO IMPORTANTE!)
Backend/venv/

# Ignora o banco de dados local do SQLite (que não estamos mais usando, mas é boa prática)
db.sqlite3

# Ignora arquivos de ambiente (que contêm senhas)
.env
Frontend/.env
Backend/.env